
.pagination-container{
  display : flex;
  justify-content: flex-end;
  align-items: center;
}

.select{
  width: 70px;
  height: 32px;
  margin: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.search {
  padding: 10px;
}